.btn-search{
    background-color: #E50914;
    color: #fff;
    cursor: pointer;
}

 
.input{
    border-radius: 0%;
}

.title-navbar{
    color:#FFF;
    text-align: center;
    font-weight: bold;
    margin-right: 2%;
    margin-top: 1%;
}

//Puedo hacer una animación de texto con el titulo de FlixMovies

/* .nombreNav{
    display:flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: a 6s;
    animation-iteration-count: infinite;
    padding-left: 50px;
    text-decoration: none; 
  }
  
  @keyframes a{
    from{ width:0;}
    
  } 


.itermitente a{
    text-decoration: none;
    animation: anim 5s;
    animation-iteration-count: infinite;
  }
  @keyframes anim {
    from {color:white}
    to {color:red;
    }
  }  */

