.title-search-users{
    color: #FFF;
    padding-top: 3%;
    text-align: center;
    margin-right: 2%;
    
}

.form{
    align-items: center;
    padding-top: 2%;
    border-radius: 0.31em;
    margin-bottom: 5%;
}

.input{
    border-radius: 0%;
}
